lang: en
title: RS Gold
email: rsgoldbuyers@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Trusted gold and silver buyers in Hyderabad. Instant cash payments and pledged gold release support.
baseurl: "/rsgold_site" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com

plugins:
  - jekyll-feed
  - jekyll-seo-tag
compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
