<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section dark-background">

    <img src="{{ site.data.home.call-to-action.image }}" alt="">
  
    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="text-center">
            <h3>{{ site.data.home.call-to-action.title }}</h3>
            <p>{{ site.data.home.call-to-action.description }}</p>
            <a class="cta-btn" href="{{ site.data.home.call-to-action.button_link }}">{{ site.data.home.call-to-action.button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  
  </section><!-- /Call To Action Section -->
  